/* SECTION RESET */

:root {
    width: 100vw;
    --black: #555770;
    --light-black: #8f90a6;
    --dark-black: #28293d;
    --white: #f2f2f5;
    --light-white: #fafafc;
    --dark-white: #ebebf0;
    --orange: #fdac42;
    --light-orange: #fccc75;
    --dark-orange: #ff8800;
    --teal: #73dfe7;
    --light-teal: #a9eff2;
    --dark-teal: #00cfde;
    --glow-teal: 0 8px 20px -5px rgba(0, 209, 224, 0.8);
    --black-shadow: 0 18px 12px -10px rgba(0, 0, 0, 0.3);
    --black-small-shadow: 0 .5px 3px rgba(0, 0, 0, 0.6);
    --black-small-shadow-inside: inset 0 .5px 2px rgba(0, 0, 0, 0.6);
    --glow-orange: 0 0 8px #fdac42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

li {
    list-style: none;
    display: block;
}

body {
    width: 100vw;
    height: 100vh;
    /* overflow-y: hidden; */
    overflow: hidden;
    background: var(--black);
    /* font-family: 'M PLUS 1p', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif; */
    /* font-family : 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif; */
    display: flex;
    /* position: relative; */
    /* font-family: "Noto Sans", sans-serif; */
    font-size: calc(12px + .3vw);
}

i {
    color: unset;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: calc(10px + .3vw);
    color: unset;
}

a:hover i {
    filter: drop-shadow(var(--black-shadow-inside));
}

p {
    font-size: calc(12px + .3vw);
}

#skill,
#review,
#home,
#work {
    position: relative;
    min-width: 100vw;
    overflow: hidden;
    height: 100vh;
}


/* END OF RESET */

@keyframes comeDown {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes comeUp {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes comeRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes comeLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes updown {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes wave {
    0% {
        clip-path: polygon(0% 49%, 12% 42%, 25% 41%, 36% 47%, 50% 56%, 67% 56%, 83% 51%, 100% 42%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 49%, 8% 56%, 26% 56%, 38% 50%, 48% 41%, 63% 34%, 81% 35%, 100% 42%, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0% 49%, 12% 42%, 25% 41%, 36% 47%, 50% 56%, 67% 56%, 83% 51%, 100% 42%, 100% 100%, 0% 100%);
    }
}

/* SECTION NAV */

nav {
    margin: 18px 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 100vw !important;
    animation: comeDown 1.5s;
}


nav a {
    padding: 10px 30px 12px;
    position: relative;
}

nav>a {
    font-family: 'Dancing Script', cursive;
    font-size: calc(22px + 1vw);
}

nav a:hover {
    font-weight: bold;
}

h1 {
    font-weight: 700;
    font-size: calc(22px + .5vw);
}

/* END OF NAV */

.page-indicator {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-title {
    transform-origin: 150% 50%;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.indicator-active {
    opacity: 1 !important;
}

.indicator-title * {
    text-align: right;
    opacity: 0;
}

.indicator-4 {
    transform-origin: right;
    transform: rotate(-90deg) translate(-20%, 220%);
}

.indicator-1 {
    transform: translateY(150%);
}

.indicator-2 {

    transform-origin: left;
    transform: rotate(90deg) translate(-140%, -700%);
}

.indicator-3 {
    transform: rotate(180deg) translate(-200%, 50%);
}

svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
}

.spin {
    stroke-dashoffset: 190 !important;
}

circle {
    fill: none;
    stroke: var(--dark-white);
    stroke-width: 3;
    stroke-dasharray: 190;
}

circle:first-child {
    stroke-dashoffset: 0;
}

circle:last-child {
    /* stroke-dashoffset: calc(190 - 190 * 25 / 100); */
    stroke-dashoffset: 145;
    stroke: var(--orange) !important;
}

/* SECTION FOOTER */

footer {
    position: fixed;
    padding: 0 20px;
    color: #333333;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    z-index: 3;
    width: 100vw;
    animation: comeUp 1.5s;
    font-size: 0.9em;
}

.footer-left {
    display: flex;
    align-items: center;
}

footer img {
    background-color: var(--white);
    border-radius: 50%;
    /* width: 70px; */
    width: calc(56px + 1vw);
    height: calc(56px + 1vw);
    object-fit: cover;
}

footer i {
    color: var(--teal);
    width: 40px;
    text-align: center;
}

/* END OF FOOTER */


/* SECTION HOME */

#home {
    /* background-color: #dadada; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: calc(20vw - 200px); */
    height: 100vh;
    position: relative;
}

.background-text {
    /* position: absolute; */
    z-index: -1;
    opacity: 1 !important;
    top: 0;
    left: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    transform: none !important;
}

.background-text strong {
    text-align: right;
    opacity: 1 !important;
    color: rgba(85, 87, 112, 0.7);
    /* font-size: 240px; */
    font-size: calc(125px + 8vw);
    position: absolute;
    width: max-content;
    /* top: 8%; */
    top: calc(38px + 2vw);
    font-weight: 900;
    background: top / cover url(img/domenico-loia-hGV2TfOh0ns-unsplash\(1\).jpg);
    background-clip: text;
    background-attachment: fixed;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    animation: comeLeft 3s;
}

.background-text strong:last-child {
    top: unset;
    bottom: calc(38px + 2vw);
    /* top: calc(144px + 20vw); */
    right: 0;
    left: unset;
    animation: comeRight 3s;
}

.next-page,
.prev-page {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    font-size: 22px;
    /* writing-mode: vertical-rl; */
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
}

.next-page span,
.prev-page span {
    /* font-size: 12px; */
    font-size: calc(8px + .3vw);
    margin: auto 8px;
    opacity: 0;
}

.prev-page {
    right: unset;
    left: 1%;
}

.next-page:hover span,
.prev-page:hover span {
    opacity: 1;
}

.title {
    margin: auto;
    /* width: 100vw; */
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title>p:first-child {
    writing-mode: vertical-rl;
    /* font-size: 20px; */
    font-size: calc(13px + .5vw);
    text-align: right;
    line-height: 1;
    margin-right: 20px;
}

.title>p>span {
    /* font-size: 62px; */
    font-size: calc(33px + 2vw);
    font-weight: 900;
    display: block;
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--orange);
}

.typing {
    /* width: 380px; */
    width: calc(236px + 10vw);
    /* font-size: 22px; */
    font-size: calc(15px + .5vw);
}

.contacts {
    display: flex;
}

.contacts a {
    padding: calc(6px + .5vw);
    margin: calc(4px + .2vw);
    height: 42px;
    min-width: 42px;
    width: 42px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.title>div>a:last-child {
    /* background-color: var(--dark-teal); */
    font-weight: 700;
    display: inline-block;
    padding: .8em 1.2em;
    /* border-radius: 8px; */
    color: var(--dark-teal) !important;
    border: 1.2px solid var(--dark-teal);
}

.title>div>a:last-child:hover {
    box-shadow: var(--glow-teal);
    background-color: var(--dark-teal);
    color: var(--white) !important;
}

.contacts a span {
    display: none;
    /* background-color: #fff; */
    font-size: calc(11px + .5vw);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    margin-left: 8px;
    margin-top: -2px;
}

.contacts a:hover span {
    display: inline;
}

.contacts a:hover {
    width: 100%;
}

.contacts i {
    width: 30px;
    height: 30px;
}

/* END OF HOME */

/* SECTION SKILL */

/* 
#skill .background-text strong {
    transform: rotate(-90deg) !important;
    top: 30%;
}

#skill .background-text strong:last-child {
    transform: rotate(90deg) !important;
    left: 40%;
} */


#skill, #work,
#review {
  padding: 80px calc(10vw + 20px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skill {
    align-items: center;
    justify-content: center;
}

#skill ul {
    width: max-content;
    height: calc(166px + 5vw);
    /* margin: 20px 0; */
    margin: calc(6px + 1vw);
    padding: calc(6px + 1vw);
    background: var(--dark-black);
    box-shadow: var(--black-shadow);
    /* padding: 20px; */
}

#skill ul+ul {
    /* margin-left: 20px; */
}

#skill li {
    /* margin: 10px; */
    position: relative;
    font-size: calc(10px + .3vw);
}

#skill li>p {
    position: absolute;
}

#skill li span {
    display: inline-block;
    height: 5px;
    border-radius: 3px;
    /* position: absolute; */
}

.back {
    /* background-color: rgba(255, 255, 255, 0.4); */
    background: var(--light-black);
    width: calc(45px + 3vw);
    /* margin: 10px; */
    margin: calc(7px + .2vw);
    margin-left: calc(86px + 5vw);
    transform: translateY(-50%);
    position: relative;
}

.front-animation {
    width: 0 !important;
}

.front {
    position: absolute;
    background-color: var(--teal);
    transition: all 2.6s ease;
    opacity: 1 !important;
    transform: none !important;
    filter: blur(.3px);
}

/* END OF SKILL */

/* SECTION WORK */

#work {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(452px + 10vw);
    /* min-height: 580px; */
}

.port-card {
    height: calc(176px + 5vw);
    /* width: 260px; */
    width: calc(300px - 3vw);
    margin: auto calc(6px + .3vw);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--white);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: var(--black-shadow);
    background-color: rgba(255, 255, 255, 0.2);
}

/* .port-card * { */
    /* transition: 5s; */
/* } */

.port-card p:nth-child(4) {
    color: #888888;
}

.water {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #00cfde9f;
    animation: wave 3s infinite;
}

.card-info {
    position: absolute;
    z-index: 2;
}

.card-info * {
    color: var(--white) !important;
}

.detail {
    /* background-color: var(--teal); */
    padding: 8px 24px;
    color: #fff;
    /* font-size: 20px; */
    font-size: calc(13px + .5vw);
    border-radius: 8px;
    position: absolute;
    text-align: center;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    z-index: 2;
}

.port-card:hover .detail {
    opacity: 1;
}

.port-card:hover .water {
    height: 130%;
    /* width: 150%; */
    z-index: 1;
}

.port-card:hover img {
    /* justify-content: flex-start; */
    margin-bottom: 40%;
    animation: updown 2s infinite;
}

.port-card img {
    width: 100%;
    /* margin-bottom: 10px; */
}

.wide-info {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    /* background-color: var(--white); */
    z-index: 3;
}

.wide-info:hover .water {
    height: 50%;
    z-index: -1;
}

.wide-info * {
    /* display: inherit; */
    opacity: 1 !important;
    /* transition: .7s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.mockup,
.mockup-interaction,
.wide-info h1,
.wide-info .detail,
.wide-info img,
.back-button,
.info {
    display: none !important;
}

.wide-info .mockup-interaction {
    display: block !important;
    text-align: center;
    position: absolute;
    width: 100vw;
    bottom: 10px;
    left: 0;
}

.wide-info .info {
    display: inherit !important;
    position: absolute;
    /* right: 50px; */
    right: calc(21px + 2vw);
    bottom: 50%;
    transform: translateY(50%);
}

.info h2 {
    color: var(--orange) !important;
}

.info li {
    margin-top: 15px;
    position: relative;
}

.info small {
    display: block;
    color: var(--teal) !important;
    background-color: var(--black);
    padding: 0 5px;
    mix-blend-mode: darken;
    width: max-content;
    margin: -10px 10px;
}

.info p {
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--white);
    width: 100%;
    font-size: 14px;
}

.info a {
    background-color: var(--black) !important;
    box-shadow: var(--black-shadow);
    /* border: 1px solid var(--white); */
    padding: 0.8em 1.2em;
    margin-top: 2em;
    display: inline-block;
}

.info a:hover {
    background-color: var(--dark-black) !important;
}

/* .wide-info .info { 
    display: flex;
}

.info ul {
    display: inline;
} */


.wide-info .back-button {
    text-align: center;
    display: flex !important;
    flex-direction: column;
    margin-top: 20px;
    /* background: none !important; */
    /* margin-top: 60px; */
    /* width: 300px; */
    /* width: max-content; */
}

.back-button i {
    font-size: 30px;
}

.wide-info .mockup {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-end;
    transform-origin: 0 0;
    transform: scale(.5);
    /* transform: scale(calc(856px / 100vw)); */
    /* margin: 60px; */
    /* margin: 100px; */
    margin: calc(36px + 5vw);
    /* margin-top: calc(236px + 5vw); */
    /* margin-top: 200px; */
    margin-top: 22vh;
    /* margin: calc(17px + 3vw) */
}

.laptop {
    /* min-width: 1366px; */
    min-width: calc(70px + 90vw);
    /* height: 820px; */
    height: calc(100px + 50vw);
    /* transform: scale(.6); */
    transform-origin: 0 0;
    /* background-color: var(--dark-black); */
    flex-direction: column;
    position: relative;
    display: flex !important;
    justify-content: space-between;
    /* padding-top: 10px; */
    align-items: center;
    box-shadow: var(--black-shadow);

}

.laptop-screen {
    border: 3px solid var(--dark-white);
    border-bottom: none;
    width: 95%;
    height: 100%;
    /* transform: scale(.3); */
    background-color: var(--dark-black);
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 10px 10px;
    /* padding: 20px; */
    padding: calc(13px + .5vw);
}

.laptop embed {
    width: 100%;
    height: 95%;
}

.touchpad {
    width: 15%;
    /* height: 15px; */
    height: calc(8px + .5vw);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 0 8px 8px;
}

.laptop-camera {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light-black);
    /* margin-bottom: 5px; */
}

.laptop-board {
    /* margin-top: 30px; */
    width: 100%;
    /* height: 30px; */
    height: calc(16px + 1vw);
    background-color: var(--dark-white);
    border-radius: 3px 3px 8px 8px;
    display: flex;
    justify-content: center;
}

.phone {
    /* margin-left: 80px; */
    margin-left: calc(37px + 3vw);
    /* padding: 20px 8px; */
    /* min-width: 375px; */
    min-width: calc(231px + 10vw);
    /* height: 750px; */
    height: calc(318px + 30vw);
    background-color: var(--dark-black);
    /* transform: scale(.8) !important; */
    transform-origin: 0 0;
    border-radius: 24px;
    position: relative;
    box-shadow: var(--black-shadow);
    position: relative;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid var(--dark-white); */
}

.phone .screen {
    width: 95%;
    height: 93%;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
}

.phone-top {
    /* position: absolute; */
    /* top: 1%; */
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.bar {
    margin-right: 10%;
    width: 30px;
    height: 5px;
    background-color: var(--light-black);
    border-radius: 3px;
}

.circle {
    border-radius: 3px;
    width: 8px;
    height: 8px;
    background-color: var(--light-black);
}

.phone embed {
    width: 100%;
    height: 100%;
}

@keyframes animate {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-to-bottom {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(100%);
    }
}


/* 
embed {
    top: 1vh;
    left: 1vw;
    width: 98vw;
    height: 96vh;
    border-radius: 8px;
} */

.close:hover {
    background: #fff;
}

.close:hover span {
    background: var(--teal);
}

.close * {
    background-color: var(--light-black);
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.close span:first-child {
    height: 40px;
    width: 3px;
}

.close span:last-child {
    width: 40px;
    height: 3px;
}

/* EMD OF WORK */

/* SECTION REVIEW */

#review {
    padding: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

blockquote {
    /* width: 800px; */
    width: calc(80px + 50vw);
    opacity: 0.5;
    /* height: 300px; */
    background-color: var(--light-black);
    padding: 50px;
    padding-right: 80px;
    text-align: justify;
    line-height: 1.8;
    border-radius: 8px;
    box-shadow: var(--black-shadow);
    position: relative;
}

blockquote p:first-child {
    font-style: italic;
}

blockquote p:nth-child(2) {
    margin: 20px 0;
    opacity: 0.7;
    font-size: 0.8em;
}

blockquote i {
    margin: 10px;
    opacity: 6;
}

blockquote img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--white);
}

blockquote>div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border-bottom: 1px solid #fff; */
}

.dots {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.dot {
    background: var(--white);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: var(--black-shadow-inside)
}

.dot:hover {
    transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    box-shadow: var(--black-small-shadow);
}

.arrow {
    position: absolute;
    right: 6%;
    bottom: 6%;
    transform: none !important;
    opacity: 1 !important;
}

.arrow *, #review-quote {
    transform: none !important;
    opacity: 1 !important;
}

.arrow a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* padding: .5em 2em; */
    /* margin: 0; */
    cursor: pointer;
    font-size: 1.2em;
    /* border: 1px solid #fff; */
    /* transition: all .3s ease; */
    /* opacity: 1 !important; */
    /* transform: none !important; */
}

.arrow a:hover {
    /* border: 1px solid #fff; */
    /* color: var(--teal); */
    box-shadow: var(--black-small-shadow-inside);
    background-color: var(--black);
}

.teal {
    background-color: var(--teal);
    transform: scale(1.3);
    box-shadow: var(--glow-teal);
}

.quotes>* {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.quotes * {
    color: #fff;
    text-shadow: 0 2px 8px #000;
    font-size: 16px;
    margin: 3px 8px;
}

.fade {
    opacity: 0;
}

.fadeup {
    opacity: 0;
    transform: translateY(-25px) scale(.6);
}

.fadedown {
    opacity: 0;
    transform: translateY(25px) scale(.6);
}

/* END OF REVIEW */

/* SECTION CONTACT POPUP */

.overlay {
    height: 100vh !important;
    width: 103vw;
    background-color: #00000069;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    padding: 0 5px;
}

.show {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
}

.overlay form {
    display: block;
    position: relative;
    background-color: var(--light-black);
    transform: scale(0);
    transition: all .5s ease;
    border-radius: 20px;
    width: calc(400px + 8vw);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.overlay form * {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 1rem;
}


.overlay form textarea {
    border-radius: 5px;
    /* border: 1.5px solid #dadada; */
    margin-bottom: 20px;
}

.overlay form textarea:focus {
    border: 1.5px solid var(--teal);
}

.overlay form input {
    /* border-bottom: 1.5px solid #dadada; */
    margin-bottom: 20px;
}

.overlay form input:focus {
    border-bottom: 1.5px solid var(--teal);
}

.overlay button {
    color: #fff;
    background-color: var(--teal);
    max-width: 300px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 5px 8px var(--teal)67;
}

.overlay button:hover {
    box-shadow: 0 8px 8px var(--teal)67;
}

.show form {
    transform: scale(1);
}

.pop-close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.quotes img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.skill-bar {
    width: 0 !important;
}

.burger {
    display: none;
}

/* END OF CONTACT POPUP */

/* SECTION ON PHONE */

@media(max-width:735.9px) {

    .port-card {
        width: 80vw;
        height: calc(176px + 15vw);
    }

    nav {
        top: unset;
        flex-direction: column;
        height: 0;
        bottom: 80px;
        transition: all .5s ease;
        z-index: 8;
    }

    .links-show {
        height: 280px;
    }

    nav a {
        margin: 0;
        width: 180px;
        text-align: right;
    }

    .burger {
        position: fixed;
        right: 20px;
        bottom: 8px;
        width: 50px !important;
        height: 50px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: var(--teal);
        z-index: 3;
        border-radius: 50%;
        padding: 0 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.205);
    }

    .burger-x>span:first-child {
        transform: rotate(45deg) translateY(-4px) translateX(2px);
        transform-origin: 0;
    }

    .burger-x>span:nth-child(2) {
        opacity: 0;
    }

    .burger-x>span:last-child {
        transform: rotate(-45deg) translateY(4px) translateX(2px);
        transform-origin: 0;
    }

    .burger span {
        width: 25px;
        height: 2px;
        border-radius: 1px;
        background-color: var(--light-black);
        margin: 2.8px 0;
        transition: all .5s ease;
    }

    .overlay form {
        width: 90vw;
    }

    footer {
        flex-direction: column;
    }

}

@media (max-width:735.9px) {

    /* .btn>* {
        margin: 8px;
    } */

    .left {
        width: 90vw;
    }
}

/* END OF ON PHONE */

/* SECTION ON TABLET */

@media (min-width:736px) {

    nav {
        top: unset;
        bottom: 20px;
        transform: translateX(50%);
        width: max-content;
    }

    .underline {
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        transition: all 1s cubic-bezier(.68, -0.55, .27, 1.55);
        background-color: var(--teal)b7;
        border-radius: 1px;
        box-shadow: 0px 0px 3px 3px var(--teal)b7;
    }

}

@media(max-width:1025px) {

    body>div {
        flex-direction: column;
        height: max-content !important;
        padding: 12% !important;
        align-items: center;
        width: 100vw;
    }

    body {
        background-size: cover;
    }

    .title p {
        font-size: .7em;
    }

    #home {
        flex-direction: column-reverse !important;
    }

    #home>img {
        width: 70vw !important;
    }

    #skill {
        align-items: start;
    }

    .back {
        width: calc(70vw - 100px);
    }


    #work {
        padding: 28px 0 !important;
        justify-content: center;
        align-items: center;
        flex-direction: row !important;
    }

    .dot {
        margin: 0 12px;
    }

    .quotes {
        margin-top: 50px;
        text-align: center;
        width: 100%;
        height: inherit;
    }

    .left {
        z-index: 0;
        margin-top: -30px !important;
    }
}

/* END OF ON TABLET */

/* SECTION ON LAPTOP */

@media (min-width:1026px) {
    nav {
        bottom: unset;
        transform: none;
    }

    .port-card {
        width: calc(132px + 10vw);
    }
}

/* END OF ON LAPTOP */